body {
    font-family: Times New Roman, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:20px;
background-image:C:\Users\Admin\Downloads\Simple And Beautiful Sky Blue Gradient Mobile Wallpaper Background Wallpaper Image For.jpg;
}

header {
	font-family: cooper black;
font-size: 25px;
    background-color: skyblue;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav a {
    margin: 0 1rem;
    color: green;
    text-decoration: none;
    text-align : center;
}

main {
    padding: 1rem;
}

h1, h2, h3, h4 {
    margin: 0.5rem 0;
}

article {
    background-color: lightgreen;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;
    margin: 1rem 0;
    max-width: 100%;
    height: auto;
}

.comments {
    margin-top: 1rem;
}

.comment-section {
    margin-top: 1rem;
    border-top: 1px solid #ccc;
    padding-top: 1.5rem;
}

.comment-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    background-color:pink;
    color: blue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
